/* Global settings */
/* Good job.
Your HTML passed the HTML validator but your CSS needs a little improvement to pass the CSS Validator. */

/* Grid template areas haven’t been used to correctly display items at different positions in different viewports. */
* {
    padding: 0;
    margin:0;
}
:root {
    --background: #F5F3EF;
    --card: #FFFFFF;
    --accent: #FEBD2F;
    --text-primary: #000000;
    --text-secondary: #646464;
    --outline: #DCDCDC;
}
body {
    background-color: var(--background);
    color: var(--text-primary);
}

/* Fonts & text */
/* Great work on being detailed oriented and adding the right fonts to each component of the website. */
h1, h2, h3 {
    font-family: 'Roboto Serif';
    font-style: normal;
}
h1 {
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
}
h2 {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
}
h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}
p {
    font-family: 'Roboto';
    font-style: normal;
    color: var(--text-secondary);
}
.p1 {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}
.p2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

/* buttons */
button {
    font-family: 'Roboto';
    font-style: normal;
    border: none;
    background: none ;
    font-weight: 500;
}
.btn1 {
    font-size: 18px;
    line-height: 28px;
    padding: 10px 25px;
    border: 1px solid var(--outline);
    border-radius: 50px;
}
.btn2 {
    font-size: 16px;
    line-height: 19px; 
}

/* make buttons more interactive */
button:hover {
    cursor: pointer;
}
.btn1:hover {
    background-color: var(--text-primary);
    color: var(--card);
    border-color: var(--text-primary);
}
.btn2:hover {
    text-decoration: underline;
}

/* header */
/* Nice work on using Flexbox properly to create some of the components. */
header {
    height:100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
}
nav {
    display:flex;
    gap:47px;
}
header .btn1 {
    background-color: var(--text-primary);
    color: var(--card);
    border: none;
}
header .btn1:hover{ /*inverse on hover*/
    border: 1px solid var(--outline);
    border-radius: 50px;
    background: none;
    color: var(--text-primary);
}
#mobile-menu-checkbox, #mobile-menu-button {
    display: none;
}

/* banner */
.banner {
    height:600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap:80px;
    padding:0 80px;
}
.banner-text-container {
    flex: 1 1 600px;
}
.banner-text-container h1 {
    margin-bottom: 32px;
}
/* I see that you added a div with a background-image on it to make the image responsive.
However, there’s no need for that because you can just use an img tag and give the width 100% to make it fully responsive. */
.image-container {
    flex: 1 1 600px;
    height: 440px;
    border-radius: 40px;
    background: url("./assets/couple_cooking_image.jpg");
    background-size: cover;
    background-position: center;
}

/* cards section */
/* Your grid has 2 columns. There are 3 columns in the Figma file. */
.card-container {
    height: 808px;
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(3,1fr);
    gap: 80px 40px;
    padding:40px 80px;
    margin-bottom: 80px;
}
/* Beautiful work on using CSS Grid and flex box together! */
.card {
    background: #FFFFFF;
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.05);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding:40px;
    position: relative;
}
.explore-card {
    background-color: var(--accent);
    box-shadow: none;
}
/* Great work on using position absolute and relative to position the icons on the edge of the card */
.icon {
    position: absolute;
    right:50px;
    top:-40px;
}

/* footer */
footer {
    background-color: var(--accent);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}
footer img {
    height: 32px;
}

/* tablet media queries */
@media (max-width:1217px) {
    header {
        padding: 0 40px;
    }
    .banner {
        height:auto;
        flex-direction: column;
        gap:60px;
        padding: 40px 40px;
    }
    .banner-text-container {
        width:auto;
        text-align: center;
        padding:0 40px;
        flex: 0 1 auto;
    }
    .banner-text-container h1 {
        margin-bottom: 24px;
    }
    .image-container {
        flex: 0 1 440px;
        width:100%;
    }
    .card-container {
        height: auto;
        grid-template: repeat(3, 1fr)/repeat(2,1fr);
        gap: 64px 24px;
        padding:40px 40px;
        margin-bottom: 40px;
    }
    h1 {
        font-size: 48px;
        line-height: 56px;
    }
    h2 {
        font-size: 32px;
        line-height: 37px;
    }
}

/* mobile media queries */
/* Great work on achieving 90% of the functional hamburger menu.
There is some room for improvement where when you click on the hamburger menu, they should appear as a list below the header. */
@media (max-width:700px) {
    header {
        height:80px;
        padding: 0 24px;
        position: relative;
        justify-content: center;
    }
    nav {
        display:none;
    }
    header img {
        height: 32px;
    }
    header .btn1 {
        display:none;
    }
    #mobile-menu-button {
        display: block;
        position: absolute;
        right:24px;
        font-size: 30px;
        z-index: 2;
    }
    #mobile-menu-button:hover {
        cursor: pointer;
    }
    #mobile-menu-checkbox:checked ~ nav{
        display: flex;
        position: absolute;
        top:0;
        right:0;
        background-color: var(--accent);
        height: 80px;
        width: calc(100% - 48px);
        padding: 0 24px;
    }
}
@media (max-width:584px) {
    .banner {
        gap:32px;
        padding: 32px 24px 0 24px;
    }
    .banner-text-container {
        padding:0 24px;
    }
    .banner-text-container h1 {
        margin-bottom: 16px;
    }
    .image-container {
        flex: 0 1 220px;
    }
    .card-container {
        grid-template: auto/1fr;
        gap: 64px;
        padding:40px 24px;
    }
    .card {
        min-height: 247px;
    }
    .explore-card {
        min-height: auto;
    }
    h1 {
        font-size: 36px;
        line-height: 42px;
    }
    h2 {
        font-size: 24px;
        line-height: 28px;
    }
    footer {
        height: 60px;
    }
    footer img {
        height: 24px;
    }
}
